#root {

  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  display: flex;
  height: 2.5em;
  margin: 0.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  display: flex;
  background-color: mediumpurple;
  justify-content: space-between;
  height: 3.5em;
}

.nav{
  display: flex;
  gap: 16px;
  padding: 1em;
}

.login{
  display: flex;
  padding: 1em;
}